<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js" charset="utf-8"></script>
</head>
<body>
<navbar></navbar>

<div ng-if="subreddit.processing" class="container">
	<!-- <p>processing!</p> -->	 
	<div class="row">
		<div class="col-lg-12">
    			<img style="width:500px; height:500px; display: block; margin: 0 auto;" src="../../images/RedReaperAnimation.gif"/>
		</div>
	</div>
</div>

	<div ng-if="!subreddit.processing">
		<div class="row">
			<nav class="col-lg-2 col-md-3 hidden-sm hidden-xs" style="margin-top:15%;">
	      		<ul id="side-nav" class="nav nav-pills nav-stacked affix">
	      			<li du-scrollspy="top"><a href="#top" du-smooth-scroll="top" class="black-anchor">Top</a></li>
					<li du-scrollspy="jumbo-row"><a href="#jumbo-row" du-smooth-scroll="jumbo-row" class="black-anchor">Subreddit Information</a></li>
					<li du-scrollspy="first-row"><a href="#first-row" du-smooth-scroll="first-row" class="black-anchor">Overall Sentiment</a></li>
					<li du-scrollspy="second-row" ng-if="sub.subreddit.data.subreddit == 'politics'"><a href="#second-row" du-smooth-scroll="second-row" class="black-anchor">Key Topics</a></li>
<!-- 					<li du-scrollspy="second-row"><a href="#second-row" du-smooth-scroll="second-row" class="black-anchor">Comments</a></li>
 --><!-- 					<li du-scrollspy="third-row"><a href="#third-row" du-smooth-scroll="third-row" class="black-anchor">Language Complexity</a></li>
					<li du-scrollspy="fourth-row"><a href="#fourth-row" du-smooth-scroll="fourth-row" class="black-anchor">Popularity</a></li> -->
				</ul>
			</nav>
			<div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 nopadding">
				<div id="jumbo-row" class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
						<div class="jumbotron jumbotron-special" style="border-radius: 0px;padding-left:0px;padding-right:0px;">
							<div style="text-align:center; background:url({{sub.subreddit.data.genData.banner_img}});">
								<div style="width: 100%; min-height:300px; padding-top:120px; padding-bottom:20px; background:rgba(0,0,0,0.5);">
									<div ng-if="sub.subreddit.data.genData.header_img" style="width: 110px; height: 100px; background: #181818; overflow: hidden; border-radius: 30px; margin: 0 auto;">
										<div style="width: 100%; height:100%; background:url({{sub.subreddit.data.genData.header_img}})">
										</div>
									</div>
							    	<h1 class="intro" align="center"><a class="white-anchor" href="http://reddit.com/r/{{sub.subreddit.data.genData.display_name}}"><em>/r/</em>{{sub.subreddit.data.genData.display_name}}</a></h1>
							    		<h4 class="intro" align="center" style="color:white;">{{sub.subreddit.data.genData.public_description}}</h4>
						    	</div>
					    	</div>
					    	<div class="jumbotron-content" style="margin-top:50px;">
					    		<div class="row text-center">
					    			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
					    				<p class="toptext">Created</p>
					    				<p class="primary">{{sub.subreddit.accountCreation.date}}</p>
						    		</div>
						    		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
					    				<p class="toptext">Subscribers</p>
					    				<p class="primary">{{sub.subreddit.data.genData.subscribers}}</p>
						    		</div>
					    			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
						    			<p class="toptext">Language</p>
						    			<p class="primary">{{sub.subreddit.data.genData.lang}}</p> 
						    		</div>
						    		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
						    			<p class="toptext">Type</p>
						    			<p class="primary">{{sub.subreddit.data.genData.subreddit_type}}</p>
						    		</div>
						    	</div>
					   		</div>
					   </div>
					</div>
				</div>

				<hr style="width: 60%;">
				
				<div id="first-row" class="row" style="margin-bottom:20px;">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
					  	<div class="contentdisp">
					  		<h1 class="content-header" align="center">Sentiment</h1>
					  		<div style="text-align:center;padding-bottom:40px;margin-left:20px;">
								<span style="font-size:17px"><strong>1: </strong>Negative&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
								<span style="font-size:17px;"><strong>2: </strong>Neutral&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
								<span style="font-size:17px;"><strong>3: </strong>Positive&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
							</div>
							<div class="row" style="margin-top:-65px;">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div style="margin-top:20px; text-align:center;" class="row">
										<div style="overflow:auto; text-align:center;">
											<donut action="OverallSubSentiment"></donut>
										</div>
										<h3 align="center">Average Sentiment: {{sub.subreddit2.data.weightedSentiment}}</h3>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<hr style="width: 60%;" ng-if="sub.subreddit.data.subreddit == 'politics'">
				
				<div id="second-row" class="row" style="margin-bottom:20px;" ng-if="sub.subreddit.data.subreddit == 'politics'">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
					  	<div class="contentdisp">
					  		<h1 class="content-header" align="center">Key Topics</h1>
							<div class="row" ng-if="sub.subreddit.data.subreddit == 'politics'">
								<h3 class="content-subheader" align="center">Presidential Candidates</h3>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-if="sub.subreddit2.data.trendSent[0]">
										<div style="margin-top:20px; text-align:center;" class="row">
											<h3 align="center">{{sub.subreddit2.data.trendSent[0].objSent}}</h3>
											<h4 align="center">Search Terms: <strong>"{{sub.subreddit2.data.trendSent[0].keywordss[0]}}"</strong><strong ng-repeat="keyword in sub.subreddit2.data.trendSent[0].keywordss track by $index"><strong ng-if="$index > 0">, "{{keyword}}"</strong></strong></h4>
											<h4 align="center">Average Sentiment: <strong>{{sub.subreddit2.data.trendSent[0].weightedSent}}</strong></h4>
											<h4 align="center">Sentences mentioned in: <strong>{{sub.subreddit2.data.trendSent[0].mentionedSentences}}</strong></h4>
											<div style="overflow:auto;">
												<donut action="Politics" cur-index=0></donut>
											</div>
										</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-if="sub.subreddit2.data.trendSent[1]">
										<div style="margin-top:20px; text-align:center;" class="row">
											<h3 align="center">{{sub.subreddit2.data.trendSent[1].objSent}}</h3>
											<h4 align="center">Search Terms: <strong>"{{sub.subreddit2.data.trendSent[1].keywordss[0]}}"</strong><strong ng-repeat="keyword in sub.subreddit2.data.trendSent[1].keywordss track by $index"><strong ng-if="$index > 0">, "{{keyword}}"</strong></strong></h4>
											<h4 align="center">Average Sentiment: <strong>{{sub.subreddit2.data.trendSent[1].weightedSent}}</strong></h4>
											<h4 align="center">Sentences mentioned in: <strong>{{sub.subreddit2.data.trendSent[1].mentionedSentences}}</strong></h4>
											<div style="overflow:auto;">
												<donut action="Politics" cur-index=1></donut>
											</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="sub.subreddit2.data.trendSent[2]">
										<div style="text-align:center;" class="row">
											<h3 align="center">{{sub.subreddit2.data.trendSent[2].objSent}}</h3>
											<h4 align="center">Search Terms: <strong>"{{sub.subreddit2.data.trendSent[2].keywordss[0]}}"</strong><strong ng-repeat="keyword in sub.subreddit2.data.trendSent[2].keywordss track by $index"><strong ng-if="$index > 0">, "{{keyword}}"</strong></strong></h4>
											<h4 align="center">Average Sentiment: <strong>{{sub.subreddit2.data.trendSent[2].weightedSent}}</strong></h4>
											<h4 align="center">Sentences mentioned in: <strong>{{sub.subreddit2.data.trendSent[2].mentionedSentences}}</strong></h4>
											<div style="overflow:auto;">
												<donut action="Politics" cur-index=2></donut>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>

<footer style="background-color: #EAEAEA;"></footer>