.first {
	margin-top: 50px;
}

.user {
	width: 65%;
}

.karma {
	width: 80%;
}

h1.intro {
    color: white;
}

h1.intro em{
	color: white;
	font-size: 40px;
	font-style: normal;
}

h1.chart {
  	font-size: 14px; 
  	text-align: center;
}

p.whitetoptext {
	color: white;
	font-size: 20px;
}

p.toptext {
	color: #949DA2;
	font-size: 15px;
}

p.bottomtext {
    color: #949DA2;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

p.bottomPrimary {
    color: white;
    font-size: 17px;
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
}

p.primary {
	color: white;
	font-size: 17px;
	font-style: normal;
}

em.secondary {
	color: white;
	font-size: 10px;
	font-style: normal;
}

p.contentheader {
    color: black;
    font-size: 25px;
}

p.contentsubheader {
    color: black;
    font-size: 15px;
}

p.contenttext {
    color: black;
    font-size: 13px;
}

graph {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dl-horizontal dt {
	width: auto;
	margin-left: auto;
}

.dl-horizontal dd {
	margin-left: auto;
	text-align: right;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

dl.top {
	margin-top: 10px;
	text-align: left;
}

.jumbotron-special {
	background-color:#282828;
    width: 100%;
}

.navbar {
 	background: #D22E2E;
 	margin-bottom:0px !important;
}

.row.fixed {
    width:100%;
    background: #EAEAEA;
}

.navbar-inner {
	border: 0px;
}

.navbar {
	border: 0px;
}

.btn-navbar {
	border: 0px;
}

.navbar-fixed-top {
    border-width: 0;
    top: 0;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #A62121;
}

.contentdivider {
	margin: 0 auto;
	height: 1px;
	width: 75%;
	background-color: lightgray;
    padding-bottom: 10px;
}

.contentdisp {
	background-color:white;
    padding-left: 20px;
    padding-right: 20px;
}

.jumbotron-content {
	margin-top: 50px;
    width: 100%;
}

#fineprint {
	font-size: 10px;
}

.sideleft {
	margin-left: 20px;
	width: 100%;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#chart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For d3 pie/donut chart */
.legend {
    font-size: 12px;
}

rect {
  cursor: pointer;
  stroke-width: 2;
}
rect.disabled { 
  fill: transparent !important;
}

.tooltip {
    display    : none;
    position   : absolute;
    width      : 80px;
    top        : 10%;
    right      : 25%;
    text-align : center;
    color      : #333;
    font-size  : 12px;
    padding    : 10px;
    z-index    : 10;
    background-color : #eee;
    box-shadow       : 0 0 5px #999999;
}

.tooltip--bars .value {
    font-weight: bold;
}

.tooltip--bars {
    z-index: 100;
    position: relative;
    display: block;
    top: 0;
    left: 30%;
    text-align: center;
    padding: .7em;
    background-color: white;
    box-shadow       : 0 0 5px hsla(0, 0%, 20%, 0.9);
    color: hsl(0, 0%, 20%);
    min-width: 45%;
    max-width: 95%;
    box-sizing: border-box;
}