.first {
	margin-top: 50px;
}

.user {
	width: 65%;
}

.karma {
	width: 80%;
}

.dl-horizontal dt {
	width: auto;
	margin-left: auto;
}

.dl-horizontal dd {
	margin-left: auto;
	text-align: right;
}

#fineprint {
	font-size: 10px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.intro-nlp {
	width: 120%;
}

.bar {
	fill: orange;
}

.bar:hover {
	fill: orangered;
}

.x.axis path {
	display: none;
}

.example-comment {
	padding-left: 20pt;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
	margin: -1px 0 0 0 ;
	top: 100%;
	left: 0;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.jumbotron-special {
	background-color:#282828;
    width: 100%;
}

#need-space {
	margin-top: 15px;
}

.no-new-line {
	display: inline;
}

.nopadding {
   padding: 0;
   margin: 0;
}

hr {
    background-color: white;
}

h1.intro {
    color: white;
    margin-bottom: 25px;
}

h1.intro em{
	color: white;
	font-size: 40px;
	font-style: normal;
}

p.toptext {
	color: #949DA2;
	font-size: 15px;
}

p.primary {
	color: white;
	font-size: 17px;
	font-style: normal;
}

p.bottomtext {
    color: #949DA2;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

p.bottomPrimary {
    color: white;
    font-size: 17px;
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
}

.contentdisp {
	background-color:white;
    padding-left: 20px;
    padding-right: 20px;
}

p.contentheader {
    color: black;
    font-size: 25px;
}

p.contentsubheader {
    color: black;
    font-size: 15px;
}

p.contenttext {
    color: black;
    font-size: 13px;
}

.row.fixed {
    width:100%;
    background: #EAEAEA;
}

.navbar {
 	background: #D22E2E; // different red
 	margin-bottom: 0px;
}