<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js" charset="utf-8"></script>
</head>
<body>
<navbar></navbar>

<div ng-if="user.processing" class="container">
	<p>processing!</p>
</div>

<div ng-if="!user.processing" class="container">
	<div class="row">
		<div class="col-lg-12 nopadding">
			<div class="jumbotron jumbotron-special" style="border-radius: 0px;">
		    	<h1 class="intro" align="center"><em>/u/</em>{{user.redditUser.data.username}}</h1>

		    	<div class="jumbotron-content">
		    		<div class="row text-center">
		    			<div class="col-md-3">
		    				<p class="toptext">Joined</p>
		    				<p class="primary">{{user.accountCreation.date}}</p>
			    		</div>
			    		<div class="col-md-3">
		    				<p class="toptext">Redditor For</p>
		    				<p class="primary">{{user.accountCreation.age}}</p>
			    		</div>
		    			<div class="col-md-3">
			    			<p class="toptext">Earliest Data From</p>
			    			<p class="primary">{{user.accountCreation.available}}</p> 
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Gender</p>
			    			<p class="primary" style="color: #d9230f;">Male</p>
			    		</div>
			    		<div class="col-md-3">
		    				<p class="toptext">Location</p>
		    				<p class="primary" style="color: #d9230f;">Maine, US</p>
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Total Submissions</p>
			    			<p class="primary" style="color: #d9230f;">55</p> 
			    		</div>
		    			<div class="col-md-3">
			    			<p class="toptext">Total Comments</p>
			    			<p class="primary">{{user.redditUser.data.totalComments}}</p> 
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Avg. Comment Length</p>
			    			<p class="primary" text-align="center">{{user.redditUser.data.avgCommentLength}}</p>
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Total Words</p>
			    			<p class="primary">{{user.redditUser.data.totalWords}}</p> 
			    		</div>
			    		<div class="col-md-3">
		    				<p class="toptext">Total Gilded</p>
		    				<p class="primary">{{user.redditUser.data.gildedComments}}</p>
			    		</div>
			    		<div class="col-md-3">
		    				<p class="toptext">Total Controversial</p>
		    				<p class="primary">{{user.redditUser.data.controversialComments}}</p>
			    		</div>
		    			<div class="col-md-3">
			    			<p class="toptext">Total NSFW</p>
			    			<p class="primary">{{user.redditUser.data.nsfwComments}}</p> 
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Total Flaired</p>
			    			<p class="primary">{{user.redditUser.data.totalFlaired}}</p> 
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Total Edited</p>
			    			<p class="primary" text-align="center">{{user.redditUser.data.totalEditedComments}}</p>
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Avg. Edit Time</p>
			    			<p class="primary" text-align="center">{{user.redditUser.data.avgEditTime}}</p>
			    		</div>
			    		<div class="col-md-3">
			    			<p class="toptext">Median Edit Time</p>
			    			<p class="primary" text-align="center">{{user.redditUser.data.medEditTime}} s</p>
			    		</div>
			    	</div>

			    	<div ng-if="user.redditUser.data.descriptions.length > 0">
					    <p class="bottomtext">You are</p>
					    <p class="bottomPrimary" ng-repeat="identifier in user.redditUser.data.descriptions">{{identifier}}</p>
				    </div>

					<p class="bottomtext">Top Submission</p>
				    <p class="bottomPrimary">{{user.redditUser.data.topSubmission.title}}</p>
			   		<p style="color: white; font-size: 13px; margin-left:50px"><em style="font-style: normal; color: gray;">Score:</em> {{user.redditUser.data.topSubmission.score}}<em style="font-style: normal; color: gray; margin-left: 30px;">Subreddit: <a class="white-anchor" href="http://reddit.com/r/{{user.redditUser.data.topSubmission.subreddit}}">{{user.redditUser.data.topSubmission.subreddit}}</a></em><em style="font-style: normal; color: gray; margin-left: 30px;"><a class="gray-anchor" href="{{user.redditUser.data.topSubmission.permalink}}">[Permalink]</a></em></p>

				    <p class="bottomtext">Top Comment</p>
				    <p class="bottomPrimary">{{user.redditUser.data.topComment.body}}</p>
				    <p style="color: white; font-size: 13px; margin-left:50px"><em style="font-style: normal; color: gray;">Score:</em> {{user.redditUser.data.topComment.score}}<em style="font-style: normal; color: gray; margin-left: 30px;">Subreddit: <a class="white-anchor" href="http://reddit.com/r/{{user.redditUser.data.topComment.subreddit}}">{{user.redditUser.data.topComment.subreddit}}</a></em><em style="font-style: normal; color: gray; margin-left: 30px;"><a class="gray-anchor" href="{{user.redditUser.data.topComment.permalink}}">[Permalink]</a></em></p>

				    <p class="bottomtext">Subreddits</p>
<!-- 				    	<div style="margin-left:20px; margin-bottom: 30px;" class="container">
			    		<div ng-repeat="userMeta in user.redditUser.data.comMeta">
			      			<div class="col-lg-4">
			      				<a href="http://reddit.com/r/{{userMeta.subreddit}}">
				      				<div style="width: 120px; height: 35px; background: #181818; overflow: hidden; border-radius: 7px;">
					    				{{userMeta.subreddit}}
					    			</div>
				    			</a>
			    			</div>
			  			</div>
			  		</div> -->
				    	<div class="container" style="margin-left: 30px;">
							<div class="row">
								<div class="col-sm-2">
								    <a href="http://www.reddit.com/r/funny" title="/r/funny">
										<div style="width: 100px; height: 35px; background: #181818; overflow: hidden; border-radius: 7px;">
											<div style="width: 100%; height:100%; background:url(http://b.thumbs.redditmedia.com/xPyD7fiUdH0H6utafcrp6gjpdLwIb8dkroTPDxCQ2rI.png) no-repeat;">
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-2">
									<a href="http://www.reddit.com/r/gif" title="/r/gif">
										<div style="width: 100px; height: 35px; background: #181818; overflow: hidden; border-radius: 7px;">
											<div style="width: 100%; height:100%; background:url(http://a.thumbs.redditmedia.com/cKfBMxMAUo7oFY-utIExaF3VxC9UUvAveor6KL2Qsl0.png) no-repeat;">
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-2">
									<a href="http://www.reddit.com/r/runescape" title="/r/runescape">
										<div style="width: 100px; height: 35px; background: #181818; overflow: hidden; border-radius: 7px;">
											<div style="width: 100%; height:100%; background:url(http://a.thumbs.redditmedia.com/nDLokmD1Lg6e10snvj7LP6IcN6ihPDcDsadUrFgcTX0.png) no-repeat;">
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-2">
									<a href="http://www.reddit.com/r/nba" title="/r/nba">
										<div style="width: 100px; height: 35px; background: #181818; overflow: hidden; border-radius: 7px;">
											<div style="width: 100%; height:100%; background:url(http://f.thumbs.redditmedia.com/ddHdMrluCS3dDbCS.png) no-repeat;">
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-2">
									<a href="http://www.reddit.com/r/aww" title="/r/aww">
										<div style="width: 100px; height: 35px; background: #181818; overflow: hidden; border-radius: 7px;">
											<div style="width: 100%; height:100%; background:url(http://b.thumbs.redditmedia.com/3VFHQjXVeV-OmHieNkhfywYjCgmcmEFJaEX5OTJGMjE.png) no-repeat;">
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-2">
									<a href="http://www.reddit.com/r/television" title="/r/television">
										<div style="width: 120px; height: 35px; background: #181818; overflow: hidden; border-radius: 7px;">
											<div style="width: 100%; height:100%; background:url(http://c.thumbs.redditmedia.com/Jbol6Rj5xaRfAvgt.png) no-repeat;">
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
		   		</div>
		  	</div>
		
<!-- 		  	<div class="contentdisp">
				<dl class="dl-horizontal">
					<p class="content-header">Activity</p>
					<p style="margin-left:20px;"class="content-text"><em>{{user.redditUser.data.data.postsForMonth}}</em> posts this month.</p>
				</dl>
			</div> -->

			<!-- <hr style="width: 75%;"> -->
			
		  	<div class="contentdisp">
				<dl class="dl-horizontal">
<!-- 					<p style="margin-left: 20px;" class="content-header">Karma</p>
					<p style="margin-left: 20px;" class="content-text">comment karma</p>
					<p style="margin-left: 20px;" class="content-text">{{user.redditUser.data.karma.totalCommentScore}}</p>
					<p style="margin-left: 20px;" class="content-text">link karma</p>
					<p style="margin-left: 20px;" class="content-text">{{user.redditUser.data.karma.totalLinkScore}}</p> -->
					<div class="panel panel-primary karma text-center">
						<div class="panel-heading">
							<h3 class="panel-title">
								<strong>karma</strong>
							</h3>
						</div>
						<div class="panel-body">
							<dl class="dl-horizontal">
								<dt>comment karma</dt>
								<dd>{{user.redditUser.data.karma.totalCommentScore}}</dd>
								<dt>link karma</dt>
								<dd>{{user.redditUser.data.karma.totalLinkScore}}</dd>
							</dl>
						</div>
					</div>

					<div class="col-lg-8 col-lg-offset-1">
						<div class="row">
							<div class="karmaPlot">
								<bar-chart></bar-chart>
							</div>
						</div>
					
						<div class="row vertical-align">
							<div class="linePlot">
								<line-plot></line-plot>
							</div>
						</div>
					</div>
				</dl>
			</div>

			<hr style="width: 75%;">

			<div class="contentdisp">
				<dl class="dl-horizontal">
					<p class="content-header">Sentiment</p>

					<div class="container" style="padding-bottom: 50px;vertical-align: middle;">
						<p class="content-subheader">Comments</p>
						<div class="row">
							<div class="col-lg-7" style="padding-bottom: 30px;">
								<div style="width: 90%;">
									<p class="content-text"><em ng-if="user.example1" class="content-text">About</em> <strong>{{user.redditUser.data.negativePercentage}}% </strong> of comments have a <strong>negative</strong> connotation.</p>
									<p ng-if="user.example1" class="content-bold-text"><strong>Determined from comments like:</strong></p>
									<div ng-if="user.example1" id="need-space" style="margin-left:10px;">
										<p class="no-new-line"><i>"{{user.example1[0]}}<strong>{{user.example1[1]}} </strong>{{user.example1[2]}}"</i></p>
									</div>
									<div ng-if="user.example2" id="need-space" style="margin-left:10px;">
										<p class="no-new-line"><i>"{{user.example2[0]}}<strong>{{user.example2[1]}} </strong>{{user.example2[2]}}"</i></p>
									</div>
									<div ng-if="user.example3" id="need-space" style="margin-left:10px;">
										<p class="no-new-line"><i>"{{user.example3[0]}}<strong>{{user.example3[1]}} </strong>{{user.example3[2]}}"</i></p>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div style="margin-top: -10px;" id="sentiment-adjective">
									<donut title="sentence"></donut>
								</div>
							</div>	
						</div>
					</div>

					<div class="container">
						<p class="content-subheader">Adjectives</p>
						<div class="row">
							<div class="col-lg-7" style="padding-bottom: 30px;">
								<div style="width: 90%;">
									<p class="content-text">About <strong>{{user.redditUser.data.vpPer}}% </strong> of adjectives used are <strong>very positive</strong>.
									</p>
								    <div>
			 						 	<span style="margin-left: 10px;" ng-repeat="exampleAdj in user.redditUser.data.vpEx">
			      							<span>
			               				  		{{exampleAdj.adjective}}
			    							</span>
			  							</span>
									</div>
									<hr>
									<p class="content-text">About <strong>{{user.redditUser.data.pPer}}% </strong> of adjectives used are <strong>positive</strong>.
									</p>
									<div>
			 						 	<span style="margin-left: 10px;" ng-repeat="exampleAdj in user.redditUser.data.pEx">
			      							<span>
			               				  		{{exampleAdj.adjective}}
			    							</span>
			  							</span>
									</div>
									<hr>
									<p class="content-text">About <strong>{{user.redditUser.data.nPer}}% </strong> of adjectives used are <strong>negative</strong>.
									</p>
									<div>
			 						 	<span style="margin-left: 10px;" ng-repeat="exampleAdj in user.redditUser.data.nEx">
			      							<span>
			               				  		{{exampleAdj.adjective}}
			    							</span>
			  							</span>
									</div>
									<hr>
									<p class="content-text">About <strong>{{user.redditUser.data.vnPer}}% </strong> of adjectives used are <strong>very negative</strong>.
									</p>
									<div>
			 						 	<span style="margin-left: 10px;" ng-repeat="exampleAdj in user.redditUser.data.vnEx">
			      							<span>
			               				  		{{exampleAdj.adjective}}
			    							</span>
			  							</span>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div style="margin-top: -10px;" id="sentiment-adjective">
									<donut title="adjective"></donut>
								</div>
							</div>	
						</div>
					</div>
				</dl>
			</div>
			<div class="contentdisp">
				<div class="row">
					<div class="col-md-3 col-md-offset-3 vertical-center">
						<div ng-if="user.redditUser.data.descriptions.length > 0" class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>identifier</strong>
								</h3>
							</div>
							<div class="panel-body">
								<dl class="dl-horizontal">
									<dt>you are</dt>
									<dd></dd>
									<li class="list-unstyled" style="text-align: center" ng-repeat="identifier in user.redditUser.data.descriptions">
										{{identifier}}
									</li>
								</dl>
							</div>
						</div>
					</div>
					<div ng-if="user.redditUser.data.familyMembers.length > 0" class="col-md-3 vertical-center">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>family members</strong>
								</h3>
							</div>
							<div class="panel-body">
								<dl class="dl-horizontal">
									<dt>you have</dt>
									<dd></dd>
									<li class="list-unstyled" style="text-align: center" ng-repeat="member in user.redditUser.data.familyMembers">
										{{member}}
									</li>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<div class="panel panel-primary user col-lg-offset-2">
				<div class="panel-heading text-center">
					<h3 class="panel-title"><strong>/u/{{user.redditUser.data.username}}</strong></h3>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>redditor for</dt>
						<dd>{{user.accountCreation.age}}</dd>
						<dt></dt>
						<dd id="fineprint">since {{user.accountCreation.date}}</dd>
						<dt id="need-space">data starts at</dt>
						<dd id="need-space">{{user.accountCreation.available}}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="row first vertical-align">
		<div class="col-lg-2">
			<p class="text-center"></p>
		</div>
		
		<div class="col-lg-2"></div>
		<div class="col-lg-4">
			<div class="panel panel-primary intro-nlp">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>sentiment analysis</strong>
					</h3>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>% of negative sentences</dt>
						<dd>{{user.redditUser.data.negativePercentage}}</dd>
						
						<p><strong>determined from</strong></p>
						<div ng-if="user.example1">
							<p class="example-comment no-new-line"><i>- {{user.example1[0]}}</i></p>
							<p class="no-new-line"><strong><i>{{user.example1[1]}}</i></strong></p>
							<p class="no-new-line"><i>{{user.example1[2]}}</i></p>
						</div>
						<div ng-if="user.example2" id="need-space">
							<p class="example-comment no-new-line"><i>- {{user.example2[0]}}</i></p>
							<p class="no-new-line"><strong><i>{{user.example2[1]}}</i></strong></p>
							<p class="no-new-line"><i>{{user.example2[2]}}</i></p>
						</div>
						<div ng-if="user.example3" id="need-space">
							<p class="example-comment no-new-line"><i>- {{user.example3[0]}}</i></p>
							<p class="no-new-line"><strong><i>{{user.example3[1]}}</i></strong></p>
							<p class="no-new-line"><i>{{user.example3[2]}}</i></p>
						</div>
						<hr>

						<dt>% of all adjectives used with very positive sentiment</dt>
						<dd>{{user.redditUser.data.vpPer}}</dd>
					    <div>
 						 	<span ng-repeat="exampleAdj in user.redditUser.data.vpEx">
      							<span>
               				  		{{exampleAdj.adjective}},
    							</span>
  							</span>
						</div>
						<hr>

						<dt>% of all adjectives used with positive sentiment</dt>
						<dd>{{user.redditUser.data.pPer}}</dd>
						<div>
 						 	<span ng-repeat="exampleAdj in user.redditUser.data.pEx">
      							<span>
               				  		{{exampleAdj.adjective}},
    							</span>
  							</span>
						</div>
						<hr>

						<dt>% of all adjectives used with negative sentiment</dt>
						<dd>{{user.redditUser.data.nPer}}</dd>
						<div>
 						 	<span ng-repeat="exampleAdj in user.redditUser.data.nEx">
      							<span>
               				  		{{exampleAdj.adjective}},
    							</span>
  							</span>
						</div>
						<hr>

						<dt>% of all adjectives used with very negative sentiment</dt>
						<dd>{{user.redditUser.data.vnPer}}</dd>
						<div>
 						 	<span ng-repeat="exampleAdj in user.redditUser.data.vnEx">
      							<span>
               				  		{{exampleAdj.adjective}},
    							</span>
  							</span>
						</div>
						<hr>

					</dl>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div ng-repeat="num in user.test">
			{{num}}
		</div>
	</div>
</div> -->
</body>

<footer></footer>