<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>hi</h1>
    <p class="lead">test</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

    <form ng-submit="user.topComment()">
      <div class="form-group">
        <label style="margin-top:50px">Username</label>
        <input type="text" class="form-control" ng-model="user.username">
      </div>

      <button type="submit" class="btn btn-primary">
        <span>Top</span>
      </button>
    </form>
    
    <h1 ng-model="user.comment"></h1>
    </div>
  </div>
</div>